In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("PotatoPrice.csv")
df

   potato_kg  price
0          1     10
1          2     20
2          3     25
3          4     40
4          5     55
5          6     75
6          7     90
7          8    100
8          9    115
9         10    120

In [3]:
import matplotlib.pyplot as plt

plt.xlabel('potato in kilogram(kg)')
plt.ylabel('Price in taka')
plt.scatter(df.potato_kg, df.price)

In [4]:
X = df[['potato_kg']]

In [5]:
y = df['price']

In [6]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .2)
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=10)

In [7]:
X_train

   potato_kg
6          7
3          4
1          2
0          1
7          8
4          5
9         10

In [8]:
X_test

   potato_kg
8          9
2          3
5          6

In [9]:
y_train

6     90
3     40
1     20
0     10
7    100
4     55
9    120
Name: price, dtype: int64

In [10]:
y_test

8    115
2     25
5     75
Name: price, dtype: int64

In [11]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [12]:
reg.predict(X_test)

array([109.90990991,  32.74774775,  71.32882883])

In [13]:
y_test

8    115
2     25
5     75
Name: price, dtype: int64

In [14]:
reg.score(X_test, y_test)

0.9755539073632783

In [15]:
reg.predict([[2]])

array([19.88738739])

In [16]:
x=input('To know the potato price,Enter the potato killogram upto 1 : ')

import numpy as np 
array = np.array(x) #input converted into 1 dimentional array
fvalu = array.astype(np.float) # 1 dimentional array into 1 dimentional float array
fvalu_2D=([[fvalu]]) # 1 dimentional array to 2 dimentional array
#print(fvalu_2D)

my_prediction=reg.predict(fvalu_2D)
#print(my_prediction)

#price=np.asscalar(np.array(my_prediction)) #convert vector into scalar using this one line only

#convert vector into scalar using below two lines
price=np.array(my_prediction) 
price=price.item()

print('So',x,' killogram potato price is =',price ,' Taka')

To know the potato price,Enter the potato killogram upto 1 : 4.4444
So 4.4444  killogram potato price is = 51.32325225225226  Taka